:root {
    --header-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    --header-font-weight: 400;
    --header-font-style: normal;
    --body-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    --body-font-weight: 400;
    --body-font-style: normal;
    --globalfooter-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    --globalfooter-font-weight: 400;
    --globalfooter-font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,input,textarea,select,button {
    font-size: 1em;
    line-height: 1.2;
    color: #000000b3
}

body,body a,input,input a,textarea,textarea a,select,select a,button,button a {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style)
}


h1,h1 a,h2,h2 a,h3,h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style)
}

h1 {
    font-size: 2em;
    line-height: 1em
    
}

h2 {
    font-size: 1.6em
}

h3,h4,h5,h6 {
    font-size: 1em
}

p {
    font-size: 0.96em;
    line-height: 1.4em
}

ol,ul {
    list-style: none
}

a {
    color: #1786eb;
    text-decoration: none;
    transition: color 125ms
}

header {
    height: 81vh;
}

.container {
    max-width: 83.33%;
    margin: auto;
}

.banner{
    width: 100%;
    height: 60px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center ;
    padding: 5px;
}

.banner .logo img {
    width: 95px;
    display: block;
    background-size: contain;
}


.banner nav ul{
    display: flex;
}

.banner nav ul li {
    margin-bottom: 0.2rem;
    margin-left: 2.3rem;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--body-font-family);
}

.banner nav ul li a {
    color: #000;
    font-weight: 700;
}

.banner nav ul li a:hover {
    color: #1786eb;
}

.poster_background {
    width: 83.33%;
    height: 75vh;
    position: absolute;
    overflow: hidden;
    background-color: #F1F2F3;
}

img.poster {
    width: 100%;
    transition: transform 0.5s;
}

.poster_background:hover img.poster {
    transform: scale(1.03);
    cursor: pointer;
}

.title_info {
    width: 25%;
    position : relative;
    top: -36rem;
    left: 10rem;
}

.title_info img {
    width: 100%;
    background-color: transparent;
}

.title_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_info p, button{
    width: 63%;
    font-weight: 600;
}

.title_info p {
    font-weight: lighter;
}

.title_info p {
    text-align: center;
}

.btn{
    border-radius: 50px;
    padding: 13px 0;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
}

.btn.reserved {
    background-color: #53618A;
    border: transparent;
    color: #fff;
}

.btn.plus {
    background-color: transparent;
    border: 1px solid #000;
}

.btn.reserved:hover{
    background-color: #4a5a8a;
    cursor: pointer;
}

.btn.plus:hover{
    background-color: #d4d7d86e;
    border-color: #DDE1E3;
    cursor: pointer;
}

.section1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: #F1F2F3;
    padding-bottom: 40px;
}

article {
    width: 23%;
    background-color: #fff;
    padding-bottom: 25px;
}

article img {
    width: 100%;
    background-color: transparent;
    display: flex;
}
.title_article {
    background-color: #fff;
    padding: 1rem 2rem 0;
}

.title_article h3 {
    height: 38px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.title_article p {
    height: 90px;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.title_article span {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.section2, .section3, .section4 {
    background-color: #054553;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5rem;
}

.section2 h2 {
    width: 100%;
    color: #fff;
    text-align: center;
    padding:  2rem;
    font-size: 1.8rem;
}

.section2 article {
    width: 30%;
    padding: 3rem 0;
    background-color: #054553;
    color: #fff;
    position: relative;
    overflow: hidden;
    
}

.section2 article img {
    width: 100%;
    background-color: transparent;
    transition: transform 0.5s;
}

.section2 article:hover img {
    transform: scale(1.03);
    cursor: pointer;
}

.section2 h3 {
    padding: 1rem 0;
    font-weight: bold;
}

.section2 p {
    font-size: 0.8rem;
    font-weight: lighter;
}
.suscribe {
    background-color: #054553;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suscribe button {
    width: 15%;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    justify-content: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.suscribe button:hover {
    background-color: #EBEBEB;
    border-color: #DDE1E3;
    cursor: pointer;
}

.suscribe span {
    width: 20rem;
    color: #fff;
    font-size: 0.8rem;
}

.section3, .section4, .section5,.section6, .section7 {
background-color: #f1f2f3;
padding-top: 3rem;
}

.section3 h2, .section4 h2, .section5 h2, .section6 h2, .section7 h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

.section3 h3, .section4 h3 {
    margin: 0;
}

.section3 article {
    width: 48%;
    max-height: 70vh;;
    margin: 0.5rem;
}

.section3 span.italic {
    font-style: italic;
    font-weight: lighter;
}

.section4 .articleLion{
width: 49%;
}

.section4 article {
    width: 23%;
}

.poster_background.boutique, .poster_background.actus{
    width: 88%;
    position: initial;
    margin: auto;
}

.title_info.boutique{
    width: 24%;
    position: relative; 
    top: -22rem;
    left: 10rem;
} 

.title_text.boutique p, span{
    width: 17rem;
    color: #ffff;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
}

.section5 .title_info.boutique span {
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 2rem;
}

.section7 .title_info.actus {
    width: 66%;
    position: relative; 
    top: -22rem;
    left: 14rem;
    color: #fff;
    font-size: 3rem;
}

.title_text.actus .btn {
    width: 35%;
    background-color: #fff;
    font-size: 1rem;
}




/*********************************MEDIA QUERIES *********************************/

@media (max-width: 1000px) {
    
    body {
        overflow-x: hidden;
    }
    .container {
        max-width: 100%;
    }
    
    header {
        height: 104vh;
    }

    .poster_background {
        width: 100%;
        overflow: visible;
    }
    
    img.poster {
        position: absolute;
        display: flex;
        left: -27rem;
        width: 150%;
        z-index: 1;
    }

    .title_info {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;   
        top: 35rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: #E4F0F4;   
    }
    
    .title_info img {
        padding-top: 2rem;
        width: 40%;
        margin: auto;
    }
    
    .title_text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
        margin-bottom: 1rem;
    }
    
    .title_info p{
        width: 100%;
        text-align: center;
    }
    
    .title_text button {
        width: 44%;
        font-size: 0.8rem;
        margin-right: 1.5rem;
    }
    
    .section1 {
        background-color: #EBEBEB;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        padding: 1rem 3rem;
    }
    
    .section1 article {
        width: 49%;
        margin-top: 2rem;
    }

    .section2 {
        padding: 0 2rem;
    }
    .section2 article {
        width: 48%;
    padding-bottom: 1rem;
    padding-top: 0;
    }

    .section2 .display {
        display: none;
    }
    
    .section2 h4 {
        padding: 0.5rem 0;
    }
    .section2 p {
        font-size: 0.8rem;
        font-weight: light;
        color: #dde1e3;
    }

        .suscribe button {
        width: 28%;
        }

        .suscribe span {    
        font-size: 0.7rem;
        }

}

